<div class="body">
  <div class="left-container">
    <h1>Que bom ter você por aqui :)</h1>
    <picture>
      <img [src]="contactImage" alt="" />
    </picture>
  </div>
  <div class="right-container">
    <h1>Entre em contato comigo</h1>
    <div class="contato">
        <div class="linkedin">
         <a [href]="linkedinProfile" target="_blank"><img [src]="linkedin" alt="Linkedin Logo"></a>
        </div>
        <div class="whatsapp">
          <a [href]="whatsappApi" target="_blank"><img [src]="whatsapp" alt="Whatsapp Logo"></a>
        </div>
        <div class="github">
          <a [href]="githubProfile" target="_blank"><img [src]="github" alt="Github Logo"></a>
        </div>
    </div>
  </div>
</div>
