.github{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
  background-color: #333;
  height: 60%;
  color: #fff;
}

.stacks {
  display: flex;
  margin: 0;
  padding: 0;
  height: 40%;
  width: 100%;
  background-color: #111;
}

.image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  padding: 1.5rem;
}

.image-container{
  height: 20%;
}
.image {
  border-radius: 100%;
}

.image-container > img {
  height: 22.5rem;
  width: 22.5rem;
}

.name {
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.5rem;
  text-align: center;
}

.codingimg {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40%;
}

.codingimg > img {
  height: 25rem;
  width: 25rem;
}

.icontext{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  width: 60%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
}

.icons > img {
  height: 3.6rem;
  width: 3.6rem;
}

.text > h1 {
  color: whitesmoke;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 1050px){

  .stacks{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .icons{
    padding: 2rem;
  }

  .text > h1{
    font-size: 1.5rem;
  }

  .image-container > img {
    height: 15rem;
    width: 15rem;
  }
}

@media (max-width: 500px){
  .icons{
    padding: 1.5rem;
  }

  .icons > img {
    height: 1.8rem;
    width: 1.8rem;
  }

  .codingimg > img {
    height: 12.5rem;
    width: 12.5rem;
  }

  .image-container > img {
    height: 10rem;
    width: 10rem;
  }
}
