<main>
  <section class="github">
    <img class="image" [src]="photo" alt="profile-photo" />
  <div>
    <div><h1 class="name">{{this.name}}</h1></div>
    <div><p class="description">{{this.desc}}</p></div>
  </div>
  </section>
  <section class="stacks">
    <div class="codingimg">
      <img [src]="imgCoding" alt="coding-img">
    </div>
    <div class="icontext">
      <div class="text">
        <h1>Minhas stacks principais</h1>
      </div>
      <div class="icons">
        <img [src]="imgJs" alt="javascript-icon">
        <img [src]="imgTs" alt="typescript-icon">
        <img [src]="imgHtml" alt="html5-icon">
        <img [src]="imgCss" alt="css3-icon">
        <img [src]="imgAng" alt="angular-icon">
        <img [src]="imgReact" alt="react-icon">
        <img [src]="imgPython" alt="python-icon">
        <img [src]="imgMysql" alt="mysql-icon">
      </div>
    </div>
  </section>
</main>
