.container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 320px;
}

.container > a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 2rem;
}
