<section class="main">
  <mat-card class="mat-card__container" *ngFor="let project of projects">
    <mat-card-header class="card__header">
      <mat-card-title class="title">{{project.title}}</mat-card-title>
    </mat-card-header>
    <div class="card__image-container">
      <a [href]="project.url" target="_blank">
        <img class="card__image" src="{{project.imgurl}}" alt="Imagem projeto {{project.title}}">
      </a>
    </div>
    <mat-card-content class="card__description">
      <p>{{ project.description }}</p>
    </mat-card-content>
  </mat-card>
</section>

