section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

mat-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 30rem;
  width: 25rem;
  margin: 2rem 0;
}


