<section class="main">
  <mat-card class="mat-card__container" *ngFor="let project of projects">
    <mat-card-header>
      <mat-card-title class="title">{{project.title}}</mat-card-title>
    </mat-card-header>
    <div class="imagem__container">
      <a [href]="project.url" target="_blank">{{ project.title }}>
        <img mat-card-image src="{{project.imgurl}}" alt="Imagem projeto {{project.title}}">
      </a>
    </div>
    <mat-card-content class="description">
      <p>{{ project.description }}</p>
    </mat-card-content>
  </mat-card>
</section>

