<!-- <mat-list *ngFor="let exoplanet of exoplanets">
<mat-list-item>{{exoplanet}}</mat-list-item>
</mat-list> -->
<div class="mat-elevation-z20">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="star">
      <th mat-header-cell *matHeaderCellDef>Estrela Hospedeira</th>
      <td mat-cell *matCellDef="let exoplanets">{{ exoplanets[1] }}</td>
    </ng-container>
    <ng-container matColumnDef="planet">
      <th mat-header-cell *matHeaderCellDef>Exoplaneta</th>
      <td mat-cell *matCellDef="let exoplanets">{{ exoplanets[0] }}</td>
    </ng-container>
    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef>Período Orbital(dias)</th>
      <td mat-cell *matCellDef="let exoplanets">{{ exoplanets[4] }}</td>
    </ng-container>
    <ng-container matColumnDef="method">
      <th mat-header-cell *matHeaderCellDef>Método de Descoberta</th>
      <td mat-cell *matCellDef="let exoplanets">{{ exoplanets[2] }}</td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>Ano da descoberta</th>
      <td mat-cell *matCellDef="let exoplanets">{{ exoplanets[3] }}</td>
    </ng-container>
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef>Distância(lyr)</th>
      <td mat-cell *matCellDef="let exoplanets">{{ exoplanets[6] }}</td>
    </ng-container>
    <ng-container matColumnDef="mass">
      <th mat-header-cell *matHeaderCellDef>Massas terrestres</th>
      <td mat-cell *matCellDef="let exoplanets">{{ exoplanets[5] }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [length]="lengthPaginator"
    [pageSize]="pageSizePaginator"
    [pageSizeOptions]="pageSizeOptionsPaginator"
    aria-label="Select page"
    class="mat-elevation-z8"
  >
  </mat-paginator>
</div>
