.div-exoplanets {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
  min-height: 84vh;
  background-color: #333333;

}
.div-table{
  height: 80%;
  width: 80%;
  background-color: #888888;
}

.exoplanets-table{
  margin: 50px auto;
  width: 80%;
}
table {
  width: 100%;
}

.mat-header-cell {
  font-weight: 800;
  background-color: #ccc;
}

.mat-form-field{
  width: 100%;
  padding: 0 2rem;
}
