.body-exoplanets {
  height: 100%;
  margin: 50px auto;
  width: 100%;
}
.exoplanets-table{
  margin: 50px auto;
  width: 80%;
}
table {
  width: 100%;
}

.mat-header-cell {
  font-weight: 800;
  background-color: #ccc;
}

.mat-form-field{
  width: 100%;
  padding: 0 2rem;
}
